body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-username {
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
    padding-right: 25px;
}
.navbar-username > a:hover {
    text-decoration: none;
}

.board-image{
  border: 1px solid red;
  height: 180px;
  width: 495px;
  padding: 0;
}

.placeholder{
  margin-left: auto;
  margin-right: auto;
}

.board-title {
  margin-top: -20px;
}

.product-list-table {
  border-right: 2px solid black;
  margin-top:30px;
  width: 60%;
  float:left;
  font-size: 20px;
  padding:10px;
}

.cart-list-table {
  margin-top:30px;
  width: 40%;
  float:right;
  font-size: 20px;
  padding:10px;
}